/.htaccess
wp-config.php
wp-admin/
wp-includes/
wp-content/languages/
wp-content/themes/twentyten/
wp-content/themes/twentyeleven/
wp-content/themes/twentytwelve/
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml
sitemap.xml.gz
/license.txt
/readme.html
wp-content/index.php
wp-content/plugins/index.php
wp-content/themes/index.php
wp-content/plugins/wordpress-importer
wp-content/themes/WPUTheme/wputh-minify-cache
wp-content/wputh-cache-html
wp-content/plugins/theme-check
wp-content/themes/twentyfourteen
wp-content/plugins/polylang
wp-content/plugins/qtranslate
.DS_Store
vendor
composer.lock
composer.phar
wp-content/themes/WPUTheme/.sass-cache
wp-content/plugins/theme-checklist
wp-content/plugins/themeforest-check
wp-content/mu-plugins/wp-performance-profiler
wp-content/plugins/qtranslate-x
wpu-test.php
wp-cli.phar
wp-content/plugins/woocommerce
wp-content/plugins/debug-bar
wp-content/plugins/p3-profiler
p3-profiler.php
wp-content/plugins/wp-crontrol
config
wp-content/plugins/password-protected
