[submodule "wp-content/plugins/wpu_opensans"]
	path = wp-content/plugins/wpu_opensans
	url = git@github.com:WordPressUtilities/wpu_opensans.git
[submodule "wp-content/plugins/wpubaseplugin"]
	path = wp-content/plugins/wpubaseplugin
	url = git@github.com:WordPressUtilities/wpubaseplugin.git
