*.log
.DS_Store
/.htaccess
/license.txt
/readme.html
composer.lock
composer.phar
config
node_modules
p3-profiler.php
sitemap.xml
sitemap.xml.gz
vendor
wp-activate.php
wp-admin/
wp-blog-header.php
wp-cli.phar
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/db.php
wp-content/index.php
wp-content/languages/
wp-content/mu-plugins/health-check-troubleshooting-mode.php
wp-content/mu-plugins/wp-performance-profiler
wp-content/object-cache.php
wp-content/plugins/advanced-custom-fields-pro
wp-content/plugins/classic-editor
wp-content/plugins/debug-bar
wp-content/plugins/health-check
wp-content/plugins/index.php
wp-content/plugins/limit-login-attempts
wp-content/plugins/my-wp-health-check
wp-content/plugins/p3-profiler
wp-content/plugins/password-protected
wp-content/plugins/polylang
wp-content/plugins/qtranslate
wp-content/plugins/qtranslate-x
wp-content/plugins/query-monitor
wp-content/plugins/redis-cache
wp-content/plugins/theme-check
wp-content/plugins/theme-checklist
wp-content/plugins/themeforest-check
wp-content/plugins/woo-gutenberg-products-block
wp-content/plugins/woocommerce
wp-content/plugins/woocommerce-gateway-stripe
wp-content/plugins/wordpress-importer
wp-content/plugins/wp-crontrol
wp-content/themes/index.php
wp-content/themes/twenty*
wp-content/themes/twentyeleven/
wp-content/themes/twentyfourteen
wp-content/themes/twentytwelve/
wp-content/themes/WPUTheme/.sass-cache
wp-content/themes/WPUTheme/wputh-minify-cache
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/wputh-cache-html
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
wpu-test.php
wputools-local.sh
xmlrpc.php
