[submodule "wp-content/plugins/wpu_opensans"]
	path = wp-content/plugins/wpu_opensans
	url = git@github.com:WordPressUtilities/wpu_opensans.git
[submodule "wp-content/plugins/wpubaseplugin"]
	path = wp-content/plugins/wpubaseplugin
	url = git@github.com:WordPressUtilities/wpubaseplugin.git
[submodule "wp-content/plugins/wputrack404search"]
	path = wp-content/plugins/wputrack404search
	url = git@github.com:WordPressUtilities/wputrack404search.git
[submodule "wp-content/plugins/wpunewsletter"]
	path = wp-content/plugins/wpunewsletter
	url = git@github.com:WordPressUtilities/wpunewsletter.git
[submodule "wp-content/plugins/wpumaintenance"]
	path = wp-content/plugins/wpumaintenance
	url = git@github.com:WordPressUtilities/wpumaintenance.git
[submodule "wp-content/plugins/wpuoptions"]
	path = wp-content/plugins/wpuoptions
	url = git@github.com:WordPressUtilities/wpuoptions.git
[submodule "wp-content/plugins/wputaxometas"]
	path = wp-content/plugins/wputaxometas
	url = git@github.com:WordPressUtilities/wputaxometas.git
[submodule "wp-content/plugins/wpupostmetas"]
	path = wp-content/plugins/wpupostmetas
	url = git@github.com:WordPressUtilities/wpupostmetas.git
[submodule "wp-content/plugins/wpuusermetas"]
	path = wp-content/plugins/wpuusermetas
	url = git@github.com:WordPressUtilities/wpuusermetas.git
[submodule "wp-content/plugins/wpuseo"]
	path = wp-content/plugins/wpuseo
	url = git@github.com:WordPressUtilities/wpuseo.git
[submodule "wp-content/plugins/wpuorders"]
	path = wp-content/plugins/wpuorders
	url = git@github.com:WordPressUtilities/wpuorders.git
[submodule "wp-content/plugins/wpuvalidateform"]
	path = wp-content/plugins/wpuvalidateform
	url = git@github.com:WordPressUtilities/wpuvalidateform.git
[submodule "wp-content/themes/WPUTheme"]
	path = wp-content/themes/WPUTheme
	url = git@github.com:WordPressUtilities/WPUTheme.git
[submodule "wp-content/plugins/wpuposttypestaxos"]
	path = wp-content/plugins/wpuposttypestaxos
	url = git@github.com:WordPressUtilities/wpuposttypestaxos.git
[submodule "wp-content/plugins/wputhemecustomize"]
	path = wp-content/plugins/wputhemecustomize
	url = git@github.com:WordPressUtilities/wputhemecustomize.git
[submodule "wp-content/plugins/wpuimportfolder"]
	path = wp-content/plugins/wpuimportfolder
	url = git@github.com:WordPressUtilities/wpuimportfolder.git
