@charset "UTF-8";

/* ----------------------------------------------------------
  Base
---------------------------------------------------------- */

html,
body {
    font: 13px/1.3 $font-main;
}

.centered-container {
    min-width: 960px;
}

.centered-container > * {
    max-width: 940px;
}

/* ----------------------------------------------------------
  Header
---------------------------------------------------------- */

.main-header {
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
}

.header-search {
    margin-bottom: 10px;
}

.header__social a,
.header__social li,
.main-menu a,
.main-menu li {
    display: inline-block;
    line-height: 20px;
    *display: inline;
    *zoom: 1;
}

.header__social li,
.main-menu li {
    margin-right: 10px;
}

@media(min-width:960px) {
    .header__social {
        float: right;
    }

    .header__social li {
        margin-right: 0;
        margin-left: 10px;
    }

    .header-search {
        z-index: 1;
        position: absolute;
        top: 25px;
        left: 50%;
        margin-left: 220px;
        min-width: 250px;
        text-align: right;
    }
}

/* ----------------------------------------------------------
  Main Container
---------------------------------------------------------- */

.main-container {
    margin-bottom: 20px;
    overflow: auto;
}

/* ----------------------------------------------------------
  Breadcrumbs
---------------------------------------------------------- */

.breadcrumbs {
    padding-bottom: 10px;
    font-size: 10px;
}

/* ----------------------------------------------------------
  Content
---------------------------------------------------------- */

article .cssc-content {
    min-height: 1px;
    overflow: hidden;
}

.wp-caption {
    margin-bottom: 10px;
    max-width: 100%;
}

.main-pagination {
    margin: 20px 0;
    text-align: center;
}

/* ----------------------------------------------------------
  Footer
---------------------------------------------------------- */

.main-footer {
    padding: 20px;
    border-top: 1px solid #f0f0f0;
    color: #aaa;
}

.main-footer--credits {
    float: right;
}

@media(max-width:600px) {
    .main-footer--credits {
        display: block;
        float: none;
    }
}