@charset "UTF-8";

/* ----------------------------------------------------------
  Gallery template
---------------------------------------------------------- */

.gallery-list a {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.gallery-list strong {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: #fff;
    opacity: 0.0;
    background: -moz-linear-gradient(top,rgba(0,0,0,0.65) 0,rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0.65) ), color-stop(100%,rgba(0,0,0,0) ) );
    background: -webkit-linear-gradient(top,rgba(0,0,0,0.65) 0,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0.65) 0,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0.65) 0,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0.65) 0,rgba(0,0,0,0) 100%);
    filter: alpha(opacity=0);
}

.gallery-list a:hover strong {
    opacity: 0.99;
    filter: alpha(opacity=99);
}

/* ----------------------------------------------------------
  Archive
---------------------------------------------------------- */

.archive-years--year {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e0e0e0;
}

.archive-years--title a {
    color: #333;
}

.archive-months {
    display: block;
    overflow: hidden;
}

.archive-months li {
    float: left;
    width: 25%;
}

.archive-months .current {
    font-weight: bold;
}

/* ----------------------------------------------------------
  FAQ
---------------------------------------------------------- */

.faq-element__title {
    cursor: pointer;
}

.faq-element__title:after {
    content: '[-]';
    margin-left: 3px;
}

.faq-element__content {
    max-height: 1000px;
    overflow: auto;
    opacity: 0.99;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    filter: alpha(opacity=99);
}

.faq-element.is-hidden .faq-element__title:after {
    content: '[+]';
}

.faq-element.is-hidden .faq-element__content {
    max-height: 0;
    opacity: 0.0;
    filter: alpha(opacity=0);
}