@charset "UTF-8";

/* ----------------------------------------------------------
  Global
---------------------------------------------------------- */

.main,
.main-sidebar {
    float: left;
}

.main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 61.8033988%;
    padding-right: 20px;
}

.main-sidebar {
    width: 38.1966011%;
}

@media(max-width:700px) {
    .main,
    .main-sidebar {
        float: none;
        width: 100%;
    }

    .main {
        margin-bottom: 20px;
        padding-right: 0;
    }
}

/* ----------------------------------------------------------
  Single
---------------------------------------------------------- */

/* Comments
-------------------------- */

.list-comments {
    margin-bottom: 20px;
}

.list-comments .comment + .comment {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #f0f0f0;
}

.comment-metas {
    margin-bottom: 5px;
}