@charset "UTF-8";

/* ----------------------------------------------------------
  Editor CSS
---------------------------------------------------------- */

.wputh-content,
body#tinymce.wp-editor {
    max-width: 960px;
    font: 13px/1.4 sans-serif;
}

.wputh-content img,
body#tinymce.wp-editor img {
    height: auto;
    max-width: 100%;
}

.wputh-content li,
.wputh-content p,
body#tinymce.wp-editor li,
body#tinymce.wp-editor p {
    margin-bottom: 18px;
    font: inherit;
}

.wputh-content li:last-child,
.wputh-content p:last-child,
body#tinymce.wp-editor li:last-child,
body#tinymce.wp-editor p:last-child {
    margin-bottom: 0;
}