@charset "UTF-8";

/* ----------------------------------------------------------
  Typo
---------------------------------------------------------- */

body {
    font: 12px/1.3 sans-serif;
}

/* ----------------------------------------------------------
   Layout
   ------------------------------------------------------- */

.main-header,
.main,
.main-sidebar,
.main-footer {
    width: auto;
    margin: 0 auto 20px;
    padding: 0 10px;
    max-width: 940px;
    text-align: left;
}

/* ----------------------------------------------------------
   Header
   ------------------------------------------------------- */

.main-header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
}

/* ----------------------------------------------------------
   Content
   ------------------------------------------------------- */

.main-pagination {
    margin: 20px 0;
    text-align: center;
}

/* ----------------------------------------------------------
   Loops
   ------------------------------------------------------- */

/* Loop single
   ----------------------- */

.lp-metas {
    margin-bottom: 10px;
    color: #999;
}

/* Loop small
   ----------------------- */

.loop-small + .loop-small {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dotted #f0f0f0;
}

.lpsm-metas {
    margin-bottom: 7px;
    font-size: 11px;
    color: #999;
}

/* Comments
   ----------------------- */

.list-comments {
    margin-bottom:20px;
}

.list-comments .comment + .comment {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #f0f0f0;
}

.comment-metas {
    margin-bottom: 5px;
}

.comment-content {
    padding: 10px;
    border-left: 1px solid #f0f0f0;
}

/* ----------------------------------------------------------
   Footer
   ------------------------------------------------------- */

.main-footer {
    padding: 20px 0;
    border-top: 1px solid #f0f0f0;
    color: #aaa;
}