@charset "UTF-8";

/* ----------------------------------------------------------
   Loops
   ------------------------------------------------------- */

/* Loop single
   ----------------------- */

.lp-metas {
    margin-bottom: 10px;
    color: #999;
}

/* Loop small
   ----------------------- */

.loop-small + .loop-small {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dotted #f0f0f0;
}

.lpsm-metas {
    margin-bottom: 7px;
    font-size: 11px;
    color: #999;
}

.loop-small-thumbnail-img {
    width: 100px;
    height: auto;
}

/* Comments
   ----------------------- */

.list-comments {
    margin-bottom: 20px;
}

.list-comments .comment + .comment {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #f0f0f0;
}

.comment-metas {
    margin-bottom: 5px;
}

/* ----------------------------------------------------------
  Shortcodes
---------------------------------------------------------- */

.post-content-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    -ms-column-gap: 20px;
    -o-column-gap: 20px;
    column-gap: 20px;
    margin-bottom: 20px;
}