@charset "UTF-8";

/* ----------------------------------------------------------
  Sidebar
---------------------------------------------------------- */

.main-sidebar--widgets,
.main-sidebar--widgets .widget {
    max-width: 100%;
    overflow: auto;
}

.main-sidebar .widget + .widget {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px dotted #e0e0e0;
}

/* ----------------------------------------------------------
  Widgets
---------------------------------------------------------- */

.main-sidebar .widget h3 {
    letter-spacing: 1px;
}